/**
 * qkboo Headings
 */

h1 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: $type-size-2;
}

h2 {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  font-size: $type-size-2;
}

h3 {
  font-size: $type-size-3;
}

h4 {
  font-size: $type-size-4;
}

h5 {
  font-size: $type-size-5;
}
h6 {
  font-size: $type-size-6;
}

/* Tags, Categories, Posts Title */

.archive__item-title {
  font-size: $type-size-4;
  font-weight: bold;
}